<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>FileList</title>
</head>
<body>
<ul>
{{range .files}}
    <li><a href="play?path={{.}}">{{.}}</a> <a href="download?path={{.}}">다운로드</a></li>
{{end}}
</ul>
</body>
</html>