<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>FileList</title>
</head>
<body>
{{range .files}}
    <a href="streaming?path={{.}}">{{.}}</a> <a href="download?path={{.}}">다운로드</a><br>
{{end}}
</body>
</html>