<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
</head>
<body>
    <video controls>
        <source src="streaming?path={{.path}}" />
        <track kind="subtitles" src="sub?path={{.path}}" default>
    </video>
</body>
</html>